@{
    ViewBag.Title = "About Us";
}

<style>
    .label1 {
        font-size: 24px;
        color: chocolate;
        font-family: Arial;
        font-weight: bold;
        display: block;
    }

    body {
        background-color: lightblue;
    }

    #label2 {
        font-size: 20px;
        color: cornflowerblue;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>At Robert Food Store, we sell the best vegetables that are all our own.<br> We make our own products and any accusations that we steal from the local Sainsburys in the middle of the night are pure libel.<br>If you suggest that these products are stolen then we will sue.<br>uwu </p>
</main>